body{
    font-family:'open-sans','arial','sans-serif';
    line-height: 1.5em;
}
#navbar{
    border-style: solid; 
  border-width: 5px; 
 border-color: #92869c;
  height: 100%; 
  top: -5px; 
  left: -5px; 
  padding: 5px; 
 text-align: center;
  color: #92869c;
}
#navbar a{
    display:block; 
   padding:10px 30px;
   color:#4d4e53;
   text-decoration:none;
   cursor:pointer;
 }
 #navbar ul{
    height:88%;
    padding:0;
    overflow-y:auto;
    overflow-x:hidden;
 }
 #navbar li{
    border-top:1px solid;
    list-style:none;
    width:100%;
    position:relative;
    color:#4d4e53;
  }
 #main-doc{
    margin-left:310px;
    padding:20px;
    margin-bottom:110px;
    position:absolute;
  }

main {
 margin-left: 220px;
 color: #92869c
}
header {
 color:black;
 font-size: 20px;
 margin:10px;
 }
@media (min-width: 480px) {
 #navbar {
   position: fixed;
 }
}
p{
    margin:15px;
    font-size:0.96em;
    color:#4d4e53;
}
li{
    color:#4d4e53;
    margin:15px;
    font-size:0.96em;
}